{% extends "base.html" %}
{%block content%}
<div class="flex flex-col justify-center w-full min-h-48">
  <h1 class="text-center text-2xl text-rose-400">
    You have purchased {{ cars | length }}  car(s) till now
  </h1>
</div>


<div class="flex flex-wrap justify-around m-3 gap-2">
  {% for car in cars %}
    <div class=" m-1 max-w-md flex flex-col justify-between bg-black rounded-lg shadow dark:bg-gray-800 text-white p-1">
      
      <!-- Image Section -->
      <a href="#">
        <div class="h-48 overflow-hidden p-3">
          <img class="w-full h-full object-cover" src="{{car.image.url}}" alt="{{car.name}}" />
        </div>
      </a>

      <!-- Content Section -->
      <div class="flex flex-col justify-between p-4 h-full">
        <div>
          <a href="{% url 'detail' car.id %}">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-rose-400 ">{{car.name}}</h5>
          </a>
        </div>

        <!-- Car Brand (Disabled Button) -->
        <div class="">
          <button class="bg-rose-700 w-4/12 text-center p-4 rounded-full text-black" disabled>{{car.brand.name}}</button>
        </div>

        <!-- Car Price and Quantity -->
        <div class="mt-2">
          <p>{{car.quantity}} left now</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}