<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyCars</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script></head>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
<body class="bg-zinc-900 flex flex-col min-h-screen">

  <style>
    .specialtext
    {

      -webkit-text-stroke: 1px black;
    }
  </style>


  <div class="navbar absolute top-0 left-0 w-full bg-transparent z-10">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-red-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a class="text-black text-2xl font-bold" aria-current="page" href="{% url 'home' %}">Home</a></li>
          {%if user.is_authenticated%}

          <li class="nav-item">
            <a class="nav-link text-black text-2xl font-bold " href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black text-2xl font-bold" href="{% url 'user_logout' %}">Log Out</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link text-black text-2xl font-bold" href="{% url 'user_signup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black text-2xl font-bold" href="{% url 'user_login' %}">Log In</a>
          </li>
    
          {% endif %}
        </ul>
      </div>
      <a class="btn btn-ghost text-4xl  text-rose-500 ">BuyCars</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a class="text-white text-2xl font-bold underline underline-offset-8 specialtext " aria-current="page" href="{% url 'home' %}">Home</a></li>
          {%if user.is_authenticated%}

          <li class="nav-item">
            <a class="nav-link text-white text-2xl font-bold underline underline-offset-8 specialtext" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-2xl font-bold underline underline-offset-8 specialtext " href="{% url 'user_logout' %}">Log Out</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link text-white text-2xl font-bold underline underline-offset-8 specialtext" href="{% url 'user_signup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-2xl font-bold underline underline-offset-8 specialtext" href="{% url 'user_login' %}">Log In</a>
          </li>
    
          {% endif %}
      </ul>
    </div>
  </div>
  {% comment %}  {% endcomment %}


      {% block content %}

     {% endblock %}

     <footer class="bg-gray-800 text-white py-4 w-full mt-auto">
      <div class="container mx-auto text-center">
        <p class="text-sm sm:text-base">&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </footer>
    
    


    
</body>
</html>