{%extends 'base.html' %}
{% comment %} {%load static%} {% endcomment %}

{%block content%}
<div style="background-image: url('static/car2.jpg');
           background-position: center;
           background-size: cover; " 
           class="flex flex-col md:flex-row justify-between items-center p-6 min-h-64 h-auto md:min-h-80 lg:min-h-[80vh]">
  <div class="flex flex-col justify-center items-center text-center w-full p-6">
      <h1 class="font-bold text-4xl md:text-6xl text-white text-center specialtext">Welcome to BuyCars</h1>
      <p class="specialtext my-5 md:my-10 text-white text-center font-bold text-2xl">Get your long lasting luxury at the most cheapest price. Sign up now and purchase your collection.</p>
      
  </div>
  {% comment %} <div class="flex justify-center md:justify-end w-full md:w-auto p-6">
      <img class="object-cover rounded-full lg:w-4/6 lg:h-4/6 md:w-1/2 md:h-1/2 sm:w-3/4 sm:h-3/4" src="static/car1.jpg" alt="my image">
  </div> {% endcomment %}
</div>


<div class='m-4 text-center' >
  <h1 class="text-4xl  text-rose-300">Sort by brands</h1><br>
   
</div>

<!-- Brand Filter Section -->
<div class='flex flex-wrap justify-around m-5 gap-2'>
  {% for b in brands %}
    <a href="{% url 'sort_brand' b.id %}" class='bg-rose-500 mt-4 p-2 rounded-md text-white'>{{b}}</a>
  {% endfor %}
</div>

<!-- Car Listing Section -->
<div class="flex flex-wrap justify-around m-3 gap-2">
  {% for car in cars %}
    <div class=" m-1 max-w-md flex flex-col justify-between bg-black rounded-lg shadow dark:bg-gray-800 text-white p-1">
      
      <!-- Image Section -->
      <a href="#">
        <div class="h-48 overflow-hidden p-3 items-center flex justify-center">
          <img class="w-11/12 h-full object-cover" src="{{car.image.url}}" alt="{{car.name}}" />
        </div>
      </a>

      <!-- Content Section -->
      <div class="flex flex-col justify-between p-4 h-full">
        <div>
          <a href="{% url 'detail' car.id %}">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-rose-400 ">{{car.name}}</h5>
          </a>
        </div>

        <!-- Car Brand (Disabled Button) -->
        <div class="">
          <button class="bg-rose-700 w-4/12 text-center p-4 rounded-full text-black" disabled>{{car.brand.name}}</button>
        </div>

        <!-- Car Price and Quantity -->
        <div class="mt-2">
          <p>{{car.quantity}} left now</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<br>
<hr class="border-3 border-rose-400">
<br>
<br>
{% comment %} Why Choose Us Section {% endcomment %}
<div class="text-center m-auto p-5" >
  <h1 class="text-rose-300 text-4xl font-bold" >Why Choose Us ?</h1>
</div>

<div class="flex flex-wrap justify-center  m-auto w-full gap-4 p-3">

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex justify-center text-center">
     <h1 class="text-5xl font-bold text-white">46+</h1> <p class="text-2xl text-white">Brands</p>
    </div>
  </div>

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex justify-center text-center">
     <h1 class="text-5xl font-bold text-white">100+</h1> <p class="text-2xl text-white">Perfect Cars</p>
    </div>
  </div>

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex justify-center text-center">
     <h1 class="text-5xl font-bold text-white">146+</h1> <p class="text-2xl text-white">Happy Users</p>
    </div>
  </div>

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex justify-center text-center">
     <h1 class="text-5xl font-bold text-white">8K+</h1> <p class="text-2xl text-white">Registrations</p>
    </div>
  </div>

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex justify-center text-center">
     <h1 class="text-5xl font-bold text-white">100%</h1> <p class="text-2xl text-white">Luxurious Vibes</p>
    </div>
  </div>

</div>
<br>
<hr class="border-3 border-rose-400">
<br>
{% comment %} How to purchase Section {% endcomment %}

<div class="text-center m-auto p-5" >
  <h1 class="text-rose-300 text-4xl font-bold" >How to make Purchase here ?</h1>
</div>

<div class="flex flex-wrap justify-center text-white m-auto w-full gap-4 p-3">

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex text-center flex-col">
      <h1 class="text-xl">Step 1:</h1>
     <h1 class="text-6xl"><i class="fa-solid fa-right-to-bracket"></i></h1>
     <h1 class="text-2xl " >Sign in to your account</h1>
    </div>
  </div>

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex text-center flex-col">
      <h1 class="text-xl">Step 2:</h1>
     <h1 class="text-6xl"><i class="fa-solid fa-bandage"></i></h1>
     <h1 class="text-2xl " >Sort the cars of your desired brand</h1>
    </div>
  </div>

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex text-center flex-col">
      <h1 class="text-xl">Step 3:</h1>
     <h1 class="text-6xl"><i class="fa-solid fa-car"></i></h1>
     <h1 class="text-2xl " >Choose your favourite car</h1>
    </div>
  </div>

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex text-center flex-col">
      <h1 class="text-xl">Step 4:</h1>
     <h1 class="text-6xl"><i class="fa-solid fa-magnifying-glass"></i></h1>
     <h1 class="text-2xl " >Check the price and reviews</h1>
    </div>
  </div>

  <div class="card bg-gray-800 w-48">
    <div class="card-body flex text-center flex-col">
      <h1 class="text-xl">Step 5:</h1>
     <h1 class="text-6xl"><i class="fa-solid fa-cart-shopping"></i></h1>
     <h1 class="text-2xl " >Purchase your car and be happy 😊</h1>
    </div>
  </div>

</div>





{% endblock %}